<html>
  <center> Webserver running on {{ ansible_hostname }} </center>
  <center> Webserver is running with on {{ ansible_distribution }} server </center>
  <center> The version of {{ ansible_distribution }} is {{ ansible_distribution_version }}</center>
</html>
